.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100vw;
  background: transparent;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6755077030812324) 0%,
    rgba(0, 0, 0, 0.0984768907563025) 79%,
    rgba(27, 27, 27, 0) 100%
  );
}

.logo-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 50px;
}

.logo {
  margin: 0 0 0 10px;
  width: 100px;
  height: 25px;
}

.navigation {
  display: flex;
}

.navigation > li {
  margin: 0 10px;
  list-style: none;
  font-size: 18px;
}

.navigation > li > a {
  color: #e5e5e5;
}

.navigation > li > a:hover {
  color: rgb(229, 229, 229, 0.5);
  transition: color 0.3s ease-in-out;
}

.navigation > li > a:link,
.navigation > li > a:visited,
.navigation > li > a:active {
  text-decoration: none;
}

.profile {
  display: flex;
  margin: 0 50px 0 0;
}

.profile > img {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg {
  width: 100%;
  height: auto;
}

.header-view-container {
  position: absolute;
  bottom: 250px;
  left: 100px;
}

/* Media Queries */

@media only screen and (max-width: 992px) {
  .navigation {
    display: none;
  }
}
